
.imgcar{
  width: 350px;
  height: 200px;
}

.top3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bebas';
}

.lista{
  flex-direction: row;
}
.ul {
  
  background-color: #f5f5f5; 
  border: 1px solid #ddd; 
  padding: 20px; 
  margin-bottom: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-family: 'Bebas';
  font-size: 16px; 
  line-height: 1.4; 
}


.ul li {
  font-family: 'Bebas';
  list-style: none;
  padding: 10px; 
  margin-bottom: 10px; 
  color: #333; 
}

.imgcar {
  border: 1px solid #ddd; 
  max-width: 100%; 
}

.titleFamily{
  font-family: 'Bebas';
}



.header{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items:center;
  column-gap: 100px;
  font-family: 'Bebas';
}

.articlelogo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 50%;
  height: 50%;
}

.titulo{
  font-size: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.titulo h1{
  margin: 0 auto;
  padding-left: 100px;
}

.headerLink{
font-size: 20px;
padding-right: 100px;
}

.headerLink li{
  padding: 5px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 10%;
  justify-content: center;
  display: flex;

}
.headerLink li a{
  border: 50px;
}

.headerLink li:hover {
  background-color: rgb(97, 81, 215); /* Altere a cor de fundo no hover */
  transition: background-color 1s ease;
}

.headerLink li:hover a {
  color: rgb(156, 39, 39); /* Altere a cor do texto no hover */
}
