header {
  background: #CCCCCC;
  padding: 20px 0px;
 
}

.caixa {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 30px;
}

nav li {
  display: inline;
  margin: 0 20px 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.formulario {
max-width: 600px;
margin: 0 auto;
padding: 20px;
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rotulo {
display: block;
margin-top: 10px;
font-weight: bold;
}

.campo {
width: 100%;
padding: 10px;
margin-top: 5px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
}

.subtitulo {
font-weight: bold;
}

.botao {
background-color: #333;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.botao:hover {
background-color: #555;
}