
h1 {
    color: #007bff;
    text-align: center;
}


#autorForm {
    margin: 20px 0;
    text-align: center;
}

#autorForm label {
    display: block;
    font-weight: bold;
}

#autorForm input[type="text"],
#autorForm textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

#autorForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}


button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.field{
    margin: 20px 0;
    text-align: center;
}

.field button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.field label {
    display: block;
    font-weight: bold;
   
}

#idPesquisado{
    margin-bottom: 10px;
}

.headerLink{
    font-size: 20px;
    padding-right: 100px;
  }
  
  .headerLink li{
      padding: 5px;
      margin: 5px;
      border: 1px solid #333;
      border-radius: 10%;
      justify-content: center;
      display: flex;
  
  }
  .headerLink li a{
      border: 50px;
  }
  
  .headerLink li:hover {
      background-color: #007bff; /* Altere a cor de fundo no hover */
      transition: background-color 1s ease;
    }
  
    .headerLink li:hover a {
      color: rgb(7, 7, 7); /* Altere a cor do texto no hover */
    }

    .header{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items:center;
        column-gap: 100px;
    }